@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pt-safe {
    padding-top: max(1rem, env(safe-area-inset-top));
  }

  .pr-safe {
    padding-right: max(1rem, env(safe-area-inset-right));
  }

  .pb-safe {
    padding-bottom: max(1rem, env(safe-area-inset-bottom));
  }

  .pl-safe {
    padding-left: max(1rem, env(safe-area-inset-left));
  }

  .p-safe {
    padding-top: max(1rem, env(safe-area-inset-top));
    padding-right: max(1rem, env(safe-area-inset-right));
    padding-bottom: max(1rem, env(safe-area-inset-bottom));
    padding-left: max(1rem, env(safe-area-inset-left));
  }

  .mt-safe {
    margin-top: max(1rem, env(safe-area-inset-top));
  }

  .mr-safe {
    margin-right: max(1rem, env(safe-area-inset-right));
  }

  .mb-safe {
    margin-bottom: max(1rem, env(safe-area-inset-bottom));
  }

  .ml-safe {
    margin-left: max(1rem, env(safe-area-inset-left));
  }

  .m-safe {
    margin-top: max(1rem, env(safe-area-inset-top));
    margin-right: max(1rem, env(safe-area-inset-right));
    margin-bottom: max(1rem, env(safe-area-inset-bottom));
    margin-left: max(1rem, env(safe-area-inset-left));
  }
}

html {
  box-sizing: border-box;
}
